/* колір основного тексту #212121 */
/* другорядний колір тексту #757575 */
/* колір Героя #FFFFFF */
/* акцент #2196F3 */
/* лого: одна част. акцент, інша #000000 */

/* основний колір bg #FFFFFF */
/* другорядний колір фону #F5F4FA */
/* колір Героя та Футеру #2F303A */

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --hover-accent-color: #188CE8;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
  --logo-color: #000000;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul, ol {
  margin: 0;
  padding-left: 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}


body {
  margin: 0;

  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}

.list {
  list-style: none;
}
a {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 2px solid tomato;
}



/* ----------------Logo----------------- */

.logo {
  color: var(--logo-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.logo-header-part {
  color: var(--accent-color);
}

/* -----------навігація сайту------------ */
.header .container {
  display: flex;
  align-items: center;
}

.header {
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
.header-nav .link:hover,
.header-nav .link:focus,
.contacts .link:hover,
.contacts .link:focus,
.link.current {
  color: var(--accent-color);
}

.contacts {
  display: flex;
}


.contacts .link {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

/* -----------------Герой------------------- */
.hero {
  background-color: var(--footer-bg-color);
  padding: 452px 200px;
  
}
.hero-title {
  max-width: 696px;
  margin-bottom: 30px;

  color: var(--primary-bg-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
}
.hero-btn {
  min-width: 200px;
  
  font-family: inherit;
  background-color: var(--accent-color);
  color: var(--primary-bg-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  cursor: pointer;
}

.hero-btn:hover {
  background-color: var(--hover-accent-color);
  color: var(--primary-bg-color);
}

/* -------------------Features--------------- */

.features .container {
  padding-top: 94px;
}

.features-list-title {
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.feature-list-text {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* --------------------About------------------ */

.about .container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.about-title, 
.team-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

/* --------------------Team-------------------- */
.team {
  background-color: var(--secondary-bg-color);
}

.team .container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-list-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.team-list-text {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/* --------------------Footer----------------- */
.footer {
  background-color: var(--footer-bg-color);
}

.footer .container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  color: var(--primary-bg-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo-footer-part {
  color: var(--accent-color);
}
.footer-list-address {
  color: var(--primary-bg-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.footer-list-address:hover,
.footer-list-address:focus {
  color: var(--accent-color);
}
.footer-list-contacts {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.footer-list-contacts:hover,
.footer-list-contacts:focus {
  color: var(--accent-color);
}

/* --------------------Portfolio-------------------- */
.list-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  cursor: pointer;
}
.list-btn:hover,
.list-btn:focus,
.current-btn {
  background-color: var(--accent-color);
  color: var(--primary-bg-color);
}

.portfolio-cards .portfolio-subtitle {
  color: var(--primary-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-cards .portfolio-text {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
